LaproscopicProject2/Temp/
LaproscopicProject2/HoloApp
LaproscopicProject2/Library/


UnityProject/Library/
UnityProject/Temp/
UnityProject/HoloApp


*.opendb
*.sdf
*.db
*.suo
*.opensdf
*.pbd
*.ilk
*.exe
*.filters
*.user
ViveTracker_Sender-master/HTC Lighthouse Tracking Example/Release/
RealSensePluginSource/projects/CameraViewer/build/
RealSensePluginSource/build/
RealSensePluginSource/projects/CameraViewer/Release/
RealSensePluginSource/projects/TestExtLib/Release/
RealSensePluginSource/projects/TestExtLib/x64/
RealSensePluginSource/projects/TestLib/Release/
RealSensePluginSource/projects/TestLib/x64/
RealSensePluginSource/projects/UWPVisualStudio2015/Release/
RealSensePluginSource/projects/UWPVisualStudio2015/Win32Project1/Release/
RealSensePluginSource/projects/UWPVisualStudio2015/Win32Project1/x64/
RealSensePluginSource/projects/UWPVisualStudio2015/x64/
CAST_Customized/Debug/
CAST_Customized/Release/
CAST_Customized/ipch/
CAST_Customized/CAST_Customized/Debug/
CameraCalibration/CameraCalibration/x64/

