LaproscopicProject2/Temp/
LaproscopicProject2/HoloApp
LaproscopicProject2/Library/


UnityProject/Library/
UnityProject/Temp/
UnityProject/HoloApp


*.opendb
*.sdf
*.db
*.suo
Debug/
*.filters
*.user
ViveTracker_Sender-master/HTC Lighthouse Tracking Example/Release/
Release/
RealSensePluginSource/projects/CameraViewer/build/
RealSensePluginSource/build/

